.header .title {
  margin-top: .5em;
  font-size: 64px;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.subtext {
    margin-top: .5em;
    font-size: 12px;
    text-align: center;
    font-family: 'Marvel', sans-serif;
}

.image-container {
  margin-top: 2em;
}

#ripe {
  border: 3px solid green;
  margin-left: .5em;
  margin-top: 1em;
  border-radius: 50%;
}

.veg-text {
  padding-top: .3em;
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 18px;
}

#unripe {
  border: 2px solid brown;
  margin-left: .5em;
  margin-top: 1em;
  -webkit-filter: grayscale(90%);
  border-radius: 50%;
}

.ripe_veg {
    margin-left: 1em;
}

.column,
 .columns {
   position: relative;
   padding-left: 0rem;
   padding-right: 0rem;
   float: left;
 }

.row {
  width: 65%;
}

#unripe_row {
  padding-left: none;
  padding-right: none;
  margin-top: 1em;
  border-top: 2px solid black;
}
