.header .title {
  margin-top: .5em;
  font-size: 64px;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.subtext {
    margin-top: .5em;
    font-size: 12px;
    text-align: center;
    font-family: 'Marvel', sans-serif;
}


#ripe {
  border: 3px solid green;
  border-radius: 50%;
  width: 100%;
}

#ripe:hover {
  opacity: .3;
}

.ripe-veg-overlay:hover {
  background-color: green;
  border-radius: 50%;
}

.ripe-dates {
  position: absolute;
  color: gray;
  text-align: center;
  width: 100%;
}

.veg-text {
  padding-top: 2.5em;
  padding-bottom: .5em;
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 18px;
}

#unripe {
  border: 2px solid brown;
  margin-left: .5em;
  margin-top: 1em;
  -webkit-filter: grayscale(90%);
  border-radius: 50%;
}

.ripe_veg {
    margin-left: 1em;
}

.column,
 .columns {
   position: relative;
   padding-left: 0rem;
   padding-right: 0rem;
   float: left;
 }

.row {
  width: 65%;
}

#unripe_row {
  padding-left: none;
  padding-right: none;
  margin-top: 2.5em;
  border-top: 2px solid black;
}


@media (max-width: 640px) {
  .ripe_veg {
      margin-left: 0px;
  }  
}

